In [24]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Bag of Words

In [25]:
msg = ['call you tonight', 'call me a cab', 'please call me.. please']

In [26]:
vect = CountVectorizer()
vect.fit(msg)
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

# Transform messeage
(Bag of words)

In [27]:
msg_transformed = vect.transform(msg)
print(msg)
print(vect.get_feature_names())
msg_transformed.toarray()

['call you tonight', 'call me a cab', 'please call me.. please']
['cab', 'call', 'me', 'please', 'tonight', 'you']

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]])

In [28]:
data = pd.DataFrame(msg_transformed.toarray())
data.columns = vect.get_feature_names()
print(msg)
data.head()

['call you tonight', 'call me a cab', 'please call me.. please']

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [29]:
data.loc[0, 'outcome'] = 'info'
data.loc[1, 'outcome'] = 'order'
data.loc[2, 'outcome'] = 'request'
data.head()

   cab  call  me  please  tonight  you  outcome
0    0     1   0       0        1    1     info
1    1     1   1       0        0    0    order
2    0     1   1       2        0    0  request

# TF IDF
Term fequency inverse document fequency

In [40]:
tfvect = TfidfVectorizer()
trans = tfvect.fit_transform(msg)
df = pd.DataFrame(trans.toarray(), columns=tfvect.get_feature_names())
df.loc[1, 'label'] = 'A'

df.head()

        cab      call        me    please   tonight       you label
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491   NaN
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000     A
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000   NaN